Click==7.0
py==1.10.0
pytest==6.2.5
python-apt==2.0.0+ubuntu0.20.4.6
python-dateutil==2.7.3
python-debian===0.1.36ubuntu1
py==1.10.0
request==2.22.0
selenium==4.0.0
faker==9.8.0
webdriver-manager==3.5.1
SQLAlchemy==1.4.27

